root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4
dotnet_analyzer_diagnostic.category-Style.severity = suggestion
dotnet_analyzer_diagnostic.category-Design.severity = suggestion
dotnet_diagnostic.CA1031.severity = warning
dotnet_diagnostic.CA1062.severity = warning
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1812.severity = none

[*.{xaml,axaml,xml,props,targets,csproj,slnx}]
indent_style = space
indent_size = 2

[*.{md,yml,yaml,json,scriban}]
indent_style = space
indent_size = 2
