bin/
obj/
artifacts/
TestResults/
BenchmarkDotNet.Artifacts/
.vs/
.vscode/
.idea/
.mono/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
*.trx
*.coverage
*.coveragexml
coverage/
site/_output/
site/.lunet/*
!site/.lunet/css/
!site/.lunet/css/*.css
_site/
node_modules/
.DS_Store
